<h1>お気に入りポスト一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>感想</th>
    <th>画像</th>
    <th>投稿ユーザー</th>
  </tr>
  <% @favorite.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <% if post.image.url.present? %>
      <td><img src="<%= post.image %>" class="img-responsive"></td>
    <% else %>
      <td><%= image_tag 'default.png' %></td>
    <% end %>
    <td><%= post.user.name %></td>
    <td><%= link_to '詳細を表示する', post_path(post.id) %></td>
    <% if current_user.name == post.user.name %>
      <td><%= link_to "内容を編集する", edit_post_path(post.id) %></td>
      <td><%= link_to '内容を削除する', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>
  <% end %>
