<div class="page-header text-primary text-center">
  <h2><%= @user.name %>のページ</h2>
</div>
<% if current_user == @user %>
  <%= link_to "プロフィールを編集する", edit_user_path, class: 'btn btn-primary' %>
<% end %>
<%= link_to "お気に入りポスト一覧", favorite_index_user_path, class: 'btn btn-primary'%>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール画像:
  <% if @user.image.url.present? %>
    <%= image_tag @user.image.url %>
  <% else %>
    <%= image_tag 'default.png' %>
  <% end %></p>
<h1><%= @user.name %>のポスト一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>感想</th>
    <th>画像</th>
    <th>投稿ユーザー</th>
  </tr>
  <% @user.posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
      <% if post.image.url.present? %>
    <td><img src="<%= post.image %>" class="img-responsive"></td>
      <% else %>
    <td><%= image_tag 'default.png' %></td>
      <% end %>
    <td><%= post.user.name %></td>
  </tr>
</table>
<% end %>
