<%= form_with(model: @post, local: true , url: choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control' %>
    <small id="poster-tip" class="form-text text-muted">
      鑑賞した作品のタイトルを入力してください。
    </small>
  </div>
  <div class="form-group">
    <%= form.label :content, '感想' %>
    <%= form.text_area :content, class: 'form-control', rows:10 %>
    <small id="content-tip" class="form-text text-muted">
    作品の感想を入力してください。
    </small>
  </div>
  <div class="form-group">
    <%= form.label :image, '画像' %>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= form.submit "投稿する", class: 'btn btn-primary btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
    投稿する前に内容を確認してください。
    </small>
  </div>
<% end %>
