<div class="jumbotron">
  <div class="container">
  </div>
</div>
<div class="text-center">
  <h4>ログイン中のユーザーは「<%= current_user.name %>」さんです！</h4>
</div>
<div class="page-header text-primary text-center">
  <h2>話題のおすすめ映画</h2>
  <h3>FilmPostで話題になっているおすすめ映画をピックアップ！</h3>
</div>
<p><%= notice %></p>
<% @posts.each do |post| %>
<div class="pt-5 bg-light">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-lg-6 mb-5">
        <div class="panel panel-default lg-6 box-shadow" style="max-width: 100rem; height: 120rem;">
          <div class="panel-heading" style="height: 80rem;">
            <% if post.image.url.present? %>
              <img class="img-responsive center-block" src="<%= post.image %>" alt="panel image cap" style="width: 100%; height: 100%;">
            <% else %>
              <%= image_tag 'default.png', class: "img-responsive", size: '658x900' %>
            <% end %>
          </div>
          <div class="panel-body" style="height: 35rem;">
            <h5 class="panel-title"><%= post.title %></h5>
            <p class="panel-text"><%= post.content %></p>
            <p class="panel-text">@<%= post.user.name %></p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'View', post_path(post.id), class: 'btn btn-primary' %>
              <% if current_user.name == post.user.name %>
                <%= link_to "edit", edit_post_path(post.id), class: 'btn btn-success' %>
                <%= link_to 'delete', post_path(post.id), method: :delete, data: { confirm: '削除します。よろしいですか？' }, class: 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
          <div class="panel-footer" style="height: 5rem;">
            <small class="text-muted"><%= post.updated_at %><small>
          </div>
        </div>
      </div>
<% end %>
    </div>
  </div>
</div>
